/test/genome_dir/*

# kepp 
!/test/genome_dir/*.bed
!/test/genome_dir/*.pep

# keep Orthogroups.tsv
!/genome_dir/OrthoFinder/Results_Oct13/Orthogroups/Orthogroups.tsv


/test/lt_2/*

# keep the final output
!/test/lt_2/lt_2_mapping*



/src/segments_unifier_Gemini.py 
/src/goumang_plot_raw.py
main.py